body{
  font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  color: black;
}
a{
  color: #99ca3c;
  text-decoration-line: none;
  font-weight: bold;
}
#mainBanner{
  align: center;
  height: 150px;
  width: 390px;
}
#container{
    margin: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    /* background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet); */
    padding: 0px;
}
#options{
  /* align-items: center; */
  display: inline-flex;
  margin: auto;
  text-align: center;
}
#descFirstTime, #descReturning{
  visibility: hidden;
  text-align: inherit;
  padding: 3em;
  border: 2px dashed white;
  height: auto;
}
button{
  height: 100px;
  width: auto;
  border: 1px solid;
  border-radius: 20px;
  background-color: #99ca3c;
  font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: bold;
}
#infoText{
  visibility: hidden;
  opacity: 1;

}
#info{
  float: left;
  opacity: 0.5;
  float:right;
  position: relative;

}
#info:hover{
  opacity: 1;
  color: #99ca3c;
}

#submitDetails{
  /* visibility: hidden; */
  opacity: 0.4;
  font-family: fantasy;
}

#social{
  margin-left: 40%;
	margin-right: auto%;
	display: block;
}

  @media(max-width: 1024px){

      #container{
        width: 100%;
      }
      #options{
        display: block;
      }
      #descFirstTime, #descReturning{
        visibility: visible;
        padding: 0;
        /* border: 2px dashed blue; */
        height: auto;
    }

  }/*end media tag */

  @media(max-width: 720px){

    body{
      font-size: 0.8em;
    }
    h2{
      font-size: 1em;
    }
      /* #container{
        width: 100%;
      } */
      #options{
        display: block;
      }
      #descFirstTime, #descReturning{
        visibility: visible;
        padding: 0;
    }

    #mainBanner{
      width: 50%;
      height: auto;
    }
    #social{
      margin: 0;
    }
    #slack, #website, #twitter{
      height: 20%;
      width: 20%;
    }

  }/*end media tag */
